* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.blog-list {
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 1em;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(22,49,114,1) 21%, rgba(125,185,179,1) 80%, rgba(125,185,179,0) 100%);
  border-image-slice: 1;
  padding-bottom: 0.5em;
}

.blog-list > a {
  width: 70%;
}

.blog-list > a > h2 {
	color: #163172;
}

.blog-list > a > .summary {
  width: 100%;
  padding-top: 1em;
  align-items: center;
  color: rgba(22, 49, 114, 0.8);
  overflow: hidden;
}

.blog-list > .created-at {
  width: 30%;
  color: rgba(125, 185, 179, 1);
}
